/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
@import 'mixins/mixin'; // Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);
// Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/navbar';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';

* {
    // border: 1px solid #000;
}

.nav {
    background: linear-gradient(180deg, #451A75 0%, #7B2A8D 100%);
    border: 1px solid rgba(175, 58, 136, 0.1);
    box-sizing: border-box;
    box-shadow: 1.25em 1.875em 6.25em rgba(0, 0, 0, 0.2);
    border-radius: 6.25em;
    // display: flex;
    position: absolute;
    z-index: 10;
    margin: 1.25em;
    padding: 0.3125em 0.3125em 2.125em;

}

.logo {
    margin-bottom: 4.125em;
    display: block;
}

.menu {
    writing-mode: tb-rl;
    display: flex;
    align-items: center;
    transform: rotate(180deg);

    margin: 0 1.6em;
    padding: 0;
    list-style: none;

    &__item {
        margin-top: 2.5em;
    }

    &__link {
        font-size: 0.875em;
        font-weight: 600;
        text-decoration-color: transparent;

        &:hover {
            text-decoration-color: $color_withe;
        }
    }

}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &Bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
